@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #141414;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
   
}

.logotip {
    height: 120px;
    margin-left: -350px
}


.a-links {
    display: inline;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 18px;
}

.b-links {
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header nav ul li {
    position: relative;
    float: left;
    list-style: none;
    padding: 15px;

}

nav ul li ul {
    position: absolute;
    left: 0;
    width: 120px;
    top: 40px;
    left: 10px;
    background: #141414;
    display: none;

}

nav ul li ul li {
    width: 100%;
    padding: 7px
}

nav ul li:hover>ul {
    display: initial;

}

header nav ul li a {
    padding: 15;
    display: block;
}

.imglog {
    height: 50px;
}

footer {
    margin-top: 150px;
    margin-right: -200px;
    margin-left: -200px;
    height: 300px;
    background-color: #141414;
    padding: 30px 200px;
    display: flex;
    width: max-content;
}

.footer-a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}



.numbers {
    display: block;
}

.logos {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.socials {
    height: 40px;
    border-radius: 50%;
    background-color: blue;
}

.tg {
    background-color: #2a6aff;
}

.links {
    display: block;
}

.a-links_footer {
    padding-bottom: 27px;
    text-decoration: none;
    display: block;
    color: white;
}

.container-footer {
    display: flex;
    gap: 200px;

}

.payment-icons {
    height: 60px;
    display: block;
}

.visa {
    height: 30px;
}

.pay {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons-sponsors {
    height: 60px;
    display: block;
    padding-bottom: 10px;
    text-align: center;
}

.sponsors {
    display: flex;
    padding-bottom: 15px;
}


.fot {
    margin-top: -40px;
    height: 150px;
}

.scnd {
    margin-top: -5px;
    background-color: #ffffff;
    height: 250px;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.hot {
    color: red;
    font-size: 25px;
}

.wow {
    padding-bottom: 10px;
}

.and {
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.arrow {
    height: 30px;
    cursor: pointer;
}



.card {
    width: min-content;
    height: max-content;
    border-radius: 20px;
}

.card-img {
    width: 450px;
    height: 300px;
    border-radius: 11px;
    margin: 5px;
}

.card-tts {
    width: 450px;
    height: 300px;
    border-radius: 11px;
    margin: 5px;
}


.card-title {
    margin: 20px 0px 0px 5px;
    font-size: 14;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.89);
}

.card-sub {
    margin: 20px 0px 0px 5px;
    font-weight: 300;
    font-size: 17px;
    /* color: #f0f8ffbb */
    color: rgba(255, 255, 255, 0.89);
    ;
}

.btn {
    background-color: black;
    padding: 9px 12px;
    text-decoration: none;
    color: white;
    border: 1px #fff solid;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background: white;
    color: black;
}

.konteiner-popular {
    display: flex;
    align-items: center;
}

.btn-buy {
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular {
    display: inline-flex;
    transition: 0.8s;
    margin: 20px 60px;
    position: relative;
}

.popular:hover {
    transform: scale(1.1);
}

.silka{
    color: #fff;
}
.silka:hover{
    color: #b48811;
}



.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}
.popup.open{
    opacity: 1;
    visibility: visible;
}
.popup-body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
body.lock {
    overflow: hidden;
}
.popup-content{
    background-color: #fff;
    color: #000; 
    max-width: 800px;
    padding: 30px;
    position: relative;
    opacity: 0;
    transform: translate(0px, -100%);
    transition: all 0.8s ease 0s;
}
.popup-title{
    bottom: 1em;
    font-size: 20px;

}

.popup-close{
    position: absolute;    
    right: 10px;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
.popup.open .popup-content {
    transform: translate(0);
    opacity: 1;
}
